$primar-25: rgb(213,223,248);
$primar-50: rgb(129,159,237);
$primar-75: rgb(88,128,231);

$tale:      rgb(125,160,250);
$dark-blue: rgb(71,71,161);
$light-blue:rgb(121,120,233);
$light-danger:rgb(243,121,126)